.page-footer{
  background-color: transparent
  /* height: 350px */
}

hr{
  width: 150px;
  border: 1.5px solid white
}

#newsletter_heading{
  font-family: source code pro;
  letter-spacing: 20px;
  font-size: 25px;
  font-weight: bolder;
  color: #191919
}

.newsletter_text{
  font-family: source code pro;
  letter-spacing: 5px;
  font-size: 11px;
  color: #191919
}

#newsletter_subscribe_link{
  color: #C7261E;
  letter-spacing: 6px;
  font-size: 15px;
  border: 2px solid #181818
}

#newsletter_email_text{
  color: white;
  font-family: source code pro;
  letter-spacing: 6px;
  font-size: 10px
}

.subscribe_butt{
  background-color: transparent;
  border: 2px solid white;
  margin-bottom: 2%;
  color: white;
  font-family: source code pro;
  letter-spacing: 8px;
  font-size: 10px;
  margin-bottom: 5%
}

.footerTab_text{
  font-family: source code pro;
  letter-spacing: 7px;
  font-size: 10.6px;
  margin-top: 35px;
  background-color: #C7261E
}

.page-footer .footer-copyright {
  font-family: source code pro;
  letter-spacing: 4px;
  font-size: 8px;
  color: #303030
}

.empty_space{
  border: 2px solid white;
  height: 6px
}
