@import url('https://fonts.googleapis.com/css?family=Montserrat');

#kitchen_talk{
  width: 90%;
  margin-top: -18%;
  margin-bottom: -8%;
  margin-left: 4%
}

.KT_cards{
  margin-right: 5%;
}
.KT_card_bar{
  background-color: #f6f6f6
}
.card .card-reveal {
  background-color: #f6f6f6
}

.KT_card_title a{
  font-family: source code pro;
  letter-spacing: 6px;
  font-size: 9px;
  color: black
}
.KT_card_content {
  /*font-family: Montserrat;*/
  font-family: source code pro;
  font-size: 15px;
  color: #2a2a2a;
  font-weight: lighter
}

.tabs .tab a {
  font-family: source code pro;
  letter-spacing: 4px;
  font-size: 10px;
  color: black
}
/* HOMEPAGE CARDS ENDS */



/* SLIDING IMAGES */

.carousel .carousel-item>img{
  /* height: 80%; */
}

#blank_space{
  height: 200px
  /* border: 2px solid red */
}

#main-body{
  width: 80%
}
