@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
  background-color: #f9f9f9
}

/*TOP NAV CSS*/
nav {
  background: transparent;
  box-shadow: none;
  height: 100px
}

.nav-text1{
  font-family: source code pro;
  letter-spacing: 10px;
  font-size: 11px;
  color:  #C7261E
}
.nav-text{
  font-family: source code pro;
  letter-spacing: 10px;
  font-size: 11px;
  color:  #181818
}

/*Margin that pushes login & cart to the left*/
#nav-mobile{
  /* border: 2px solid black; */
  margin-right: 6.5%
}

#gochu_kitchen_logo{
  height: 95px;
  width: 215px;
  margin-left: 12%;
  margin-top: 10%
}

#search_bar{
    /* border: 2px solid pink; */
    margin-top: 30px
}

#search_bar_text{
  font-family: source code pro;
  letter-spacing: 4px;
  font-size: 11px;
  color: black
}

/*SIDE NAV CSS*/

.table-of-contents a{
  /* border: 2px solid black; */
  padding: 25px;
  margin-left: 20px;
  font-family: source code pro;
  letter-spacing: 8px;
  font-size: 15px;
  color: black
  /* background-color: pink */
}
